[submodule "blog/Cpp-Senioreas-All-Articles"]
	path = blog/Cpp-Senioreas-All-Articles
	url = https://github.com/coralkashri/Cpp-Senioreas-All-Articles.git
[submodule "talks/from-a-modern-to-an-unbelievably-modern-cpp"]
	path = talks/from-a-modern-to-an-unbelievably-modern-cpp
	url = https://github.com/coralkashri/from-a-modern-to-an-unbelievably-modern-cpp.git
[submodule "talks/who-is-afraid-of-the-big-bad-template"]
	path = talks/who-is-afraid-of-the-big-bad-template
	url = https://github.com/coralkashri/who-is-afraid-of-the-big-bad-template.git
